.container {
    padding:0;
    box-sizing: border-box;
    position :relative;


}
#background-video {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: -1; /* tämä pitää olla jotta saa videon. z indexi kertoo mihin kohtaan ns pinossa tämä laitetaan ja tämä tarkoitus saada alimmaiseksi*/
     object-fit: cover;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin:0;

}

header {
    background-color: #333;
    color: #fff;
    padding: 1.25rem 0;
    text-align: center;
    margin-bottom: 2rem;
    margin-left:auto;
    margin-right: auto;
    width: 100%;


}

.header-title {
    margin-top: 0;

}

nav {

    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20rem;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.125rem;
}

nav ul li a:hover {
    color: #ffd700;
}

.header-title {
    font-size: 1.5em;
    margin-bottom: 1rem;
}

main {
    padding-left: 15rem;
    display: flex;
    justify-content: space-between;
}

.left-content {
    flex: 1;
    margin-bottom: 1.25rem;
    border-radius: 1.5rem;
}

.right-content {
    flex: 1;
    margin-left: 1.25rem;
}

img {
     margin: 1.25rem 0 2rem 2rem;
    display: block;
}

article {
    padding: 1rem;
    margin: 3.5rem 0 1.25rem;
    width: calc(50% - 0.5rem);
    border: 0.05rem solid black;
}


#weather-icon-container {
    margin-right: 10px;
}

#weather-content {
    /*display: flex;*/
    align-items: center;
}

#weather-icon {
    margin-right: 20px;
    width: 8rem;

}



.weather-box {
    background-color: #e8d9c7;
    display: flex;
    border: 3rem;
    border-radius: 2.5rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);


}


.score-box {
    background-color: #e8d9c7;
    border: 3rem;
    border-radius: 2.5rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.battery-box{
    background-color: #e8d9c7;
    transition: background-color 0.5s ease;
    border: 3rem;
    border-radius: 2.5rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}
.battery-high {
    background-color: forestgreen;
}
.battery-medium {
    background-color: yellow;
}
.battery-low {
    background-color: red;
}


/* game over modal */
dialog{
    background-color: #333;
}

dialog img {
    display: block;
    width: 50%;
    margin: 0 auto;
}

dialog p{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin: 1.5rem 0 1.5rem 0;
    line-height: 3rem;
}

.button{
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-align: center;
    transition: box-shadow .2s ease-in-out;
    box-shadow: 0.5px 5px rgba(0, 0, 0, 0.7);
    position: relative;
    top: 0;
}

.button:active{
    top: 5px;
    box-shadow: 0 0 rgba(0, 0, 0, 0.7);
}


.button-64 {
  align-items: center;
  margin: 20px auto;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}



dialog a {
    text-decoration: none;
}